/****************************************
  Universal Settings
*****************************************/


$nav-user-width: 250px;
$gray: #ADBCC3;
$blue: #2D4255;
$tan: #DCDCD4;
$red: #E93C4F;
$maroon: #A20E30;
$font-blue: #055DAD;


* {
	font-family: PT Sans;
}

button {
	padding: 2px 10px;
	border-radius: 5px;
	border: 1px solid $tan;
	background-color: $tan;
	color: $font-blue;
	font-weight: bold;
}

.initial-hide {
	visibility: hidden;
}


/****************************************
  Home Page
*****************************************/



header {

	height: 75px;
	right: 0px;
	left: 0;
	background-color: $blue;

	.title {
		position: absolute;
		top: 50%;
		left: 39%;
		transform: translate(0, -50%);
		display: inline-block;
		font-size: 40px;
		color: $tan;
	}

	.nav-container {
		position: relative;
		width: 960px;
		margin: 0 auto;
		top: 50%;
		transform: translate(0, -50%);
	}

	.nav-logo > a {
		display: inline-block;
		font-size: 50px;
		color: $tan;
		&:hover {
			color: $red;
		}
	}

	nav {
		display: inline-block;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translate(0, -50%);

		a {
			font-size: 20px;
			color: $tan;
			font-family: Roboto;
			&:hover {
				color: $red;
			}
		}

		> * + * {
			margin-left: 20px;
		}
	}
}

.nav-container {

	> div:first-child {
		font-size: 12px;
		font-weight: bold;
		margin-bottom: 10px;
		margin-left: 10px;
	}

	div {
		text-align: left;
	}

	input {
		margin: 10px;
		
	}
}

main {
	height: 510px;
	position: relative;

	> div {
		padding-top: 100px;
	}
}

.row {
	margin-top: -75px;
}

.hero {
	height: 575px;
	width: 1280px;
	margin: 0 auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(100%,rgba(0,0,0,0.55)), color-stop(10%,rgba(45, 66, 85, 0.35)), color-stop(100%,rgba(45, 66, 85, 0.15))), url('../img/FunnySportNerd.jpg') no-repeat;
	background-size:cover;

	div {
		position: absolute;
		margin-top: 30px;
		font-size: 30px; 
		color: $tan;
		font-weight: bold;
	}

	:first-child {
		left: 30px;
	}

	:last-child {
		right: 30px;
		width: 300px;
	}
}


.main-container {
	width: 960px;
	margin: 0px auto;
	padding: 10px 0px;
	min-height: 200px;
	text-align: center;

	.feature-container {

		display: inline-block;
		padding: 10px;

		> * + * {
			margin-top: 10px;
		}

		.img {
			height: 100px;
			width: 100px;
			font-size: 75px;
			margin-bottom: 10px;
			margin: auto;
		}

		.content {
			width: 200px;
		}
	}

	> * + * {
		margin-left: 100px;
	}
}

footer {
	right: 0;
	left: 0;
	bottom: 0;
	height: 100px;
	background-color: $blue;
	position: relative;
	color: $tan;

	.copyright {

		display: inline-block;
		position: absolute;
		bottom: 10px;
		left: 10px;
	}
}


/****************************************
  Profile
*****************************************/


section {
	position: absolute;
	bottom: 0;
	top: 0;
	right: 0;
	left: $nav-user-width;
	background-color:$tan;
	color: $font-blue;

	> h1 {
		position: absolute;
		top: 220px;
		left: 300px;
		font-weight: bold;
	}

	.coach-h1 {
		left: 250px;
	}
	
	.graph {
		position: absolute;
		margin-left: 25px;
		height: 475px;
		width: 950px;
		top: 50px;
	}

	.current-category {
		margin: 10px;
		display: inline-block;
		font-size: 30px;
		font-weight: bold;

	}

	form {
		display: inline-block;
		background-color: $gray;
		padding: 20px;
		border-radius: 5px;
		margin-left: 350px;
		top: 120px;
		position: absolute;

		input {
			position: relative;
			float: right;
			font-weight: bold;
		}
		label {
			padding-right: 10px;
			font-weight: bold;
			position: relative;
  			top: 3px;
		}
		button {
			position: relative;
			left: 41%;
		}
	}
}

.user-nav-button-holder {
	position: absolute;
	right: 10px;
	top: 0px;
	padding: 10px;
	text-align: right;

	.user-nav-button {
		position: relative;
		display: inline-block;
		border-radius: 3px;
		right: 0px;
		text-align: center;
		background-color: $gray;
		padding: 3px 15px;

		&:hover {
			background-color: white;
		}

		.fa {
			font-size: 35px;
		}
	}

	.user-nav-list {
		position: relative;
		background-color: white;
		z-index: 1;
		padding: 15px;
		border-radius: 3px;
		margin-top: 5px;

		a {
			display: block;
			text-align: left;
			font-size: 18px;
			font-weight: bold;

			.fa {
				margin-right: 15px;
			}
		}
	}
}

.consistency-tracker{
	position: absolute;
	height: 140px;
	background-color: $tan;
	border-top: 5px solid black;
	bottom: 0;
	right: 0;
	left: 0;

	.consistency-holder {
		width: 960px;
		margin: 0px auto;
		text-align: center;
		margin-top: 15px;

		div {
			display: inline-block;

			width: 200px;
			color: $font-blue;

			p {
				font-size: 18px;
			}

			h1 {
				font-size: 50px;
				font-weight: bold;
				margin-bottom: 0;
			}
		}

		> * + * {
			margin-left: 100px;
		}
	}
	
}

.user-nav {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	padding: 20px 0px;
	background-color: $blue;
	width: $nav-user-width;
	text-align: center;
	color: $tan;

	select {
		font-size: 20px;
	}

	img {
		position: relative;
		height: 100px;
		width: 100px;
		background-color: $blue;
		border: 1px solid black;
		border-radius: 50px;
		margin-bottom: 10px;
		text-align: center;

		.fa {
			font-size: 70px;
			margin-left: 20px;
		}
	}

	.line {
		background-color: black;
		width: $nav-user-width;
		height: 5px;
		margin: 20px 0px;
	}
}

.user-options {
	position: absolute;
	display: inline-block;
	top: 10px;
	right: 10px;
	z-index: 100;
}

/****************************************
  Edit/Add Page
*****************************************/


#edit-entry, #add-entry {
	display: inline-block;
	position: relative;
	background-color: $gray;
	border-radius: 10px;
	padding: 30px;
	top: 235px;
	margin-left: 180px;

	h2 {
		margin: 0;
		font-size: 100px;
		font-weight: bold;
	}
}

#date-dropdown {
	font-size: 20px;
}

.handleth {
	padding: 10px;
}

.temp-dropdown-menu{
	display: inline-block;
	position: relative;
	background-color: $gray;
	border-radius: 10px;
	padding: 30px;
	top: 275px;
	margin-left: 380px;
}









