header {
	background-color: blue;
	height: 75px;
	right: 0px;
	left: 0;

	.nav-container {
		position: relative;
		width: 960px;
		background-color: green;
		margin: 0 auto;
		top: 50%;
		transform: translate(0, -50%);
	}

	.nav-logo img {
		height: 50px;
		width: 50px;
	}

	nav {
		display: inline-block;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translate(0, -50%);

		a {
			font-size: 20px;
			font-weight: bold;
			color: white;
		}

		> * + * {
			margin-left: 20px;
		}
	}

	// .expand-btn-group {
	// 	visibility: hidden;
	// }
}

main {
	height: 510px;
	position: relative;

	> div {
		padding-top: 100px;
	}
}

.hero {
	height: 575px;
	width: 1280px;
	background-image: url('../img/muscle.jpg');
	background-repeat:no-repeat;
	background-size:cover;

	div {
		position: absolute;
		margin-top: 30px;
		font-size: 30px; 
		background-color: red;
	}

	:first-child {
		left: 30px;
	}

	:last-child {
		right: 30px;
		width: 300px;
	}
}

.main-container {
	width: 960px;
	margin: 10px auto;
	background-color: lightblue;
	min-height: 200px;
	text-align: center;

	.feature-container {
		background-color: yellow;
		display: inline-block;
		padding: 10px;

		> * + * {
			margin-top: 10px;
		}

		.img {
			height: 100px;
			width: 100px;
			font-size: 75px;
			background-color: blue;
			margin-bottom: 10px;
			margin: auto;
		}

		.title {
			background-color: pink;
		}

		.content {
			width: 200px;
			background-color: blue;
		}
	}

	> * + * {
		margin-left: 100px;
	}
}

footer {
	right: 0;
	left: 0;
	bottom: 0;
	height: 100px;
	background-color: orange;
	position: relative;

	.copyright {
		background-color: pink;
		display: inline-block;
		position: absolute;
		bottom: 10px;
		left: 10px;
	}

	.footer-links {
		background-color: green;
		display: inline-block;
		position: absolute;
		bottom: 10px;
		right: 10px;

		a {
			color: white;
			display: block;
		}
	}
}
