header {
  background-color: blue;
  height: 75px;
  right: 0px;
  left: 0; }
  header .nav-container {
    position: relative;
    width: 960px;
    background-color: green;
    margin: 0 auto;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  header .nav-logo {
    display: inline-block; }
  header .nav-logo > img {
    height: 50px;
    width: 50px; }
  header nav {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }
    header nav a {
      font-size: 20px;
      font-weight: bold;
      color: white; }
    header nav > * + * {
      margin-left: 20px; }

.hero {
  height: 575px;
  width: 1280px;
  background-image: url('../img/muscle.jpg');
  background-repeat: no-repeat;
  background-size: cover; }
  .hero div {
    position: absolute;
    margin-top: 30px;
    font-size: 30px;
    background-color: red; }
  .hero :first-child {
    left: 30px; }
  .hero :last-child {
    right: 30px;
    width: 300px; }

.main-container {
  width: 960px;
  margin: 10px auto;
  background-color: lightblue;
  min-height: 200px;
  text-align: center; }
  .main-container .feature-container {
    background-color: yellow;
    display: inline-block;
    padding: 10px; }
    .main-container .feature-container > * + * {
      margin-top: 10px; }
    .main-container .feature-container .img {
      height: 100px;
      width: 100px;
      font-size: 75px;
      background-color: blue;
      margin-bottom: 10px;
      margin: auto; }
    .main-container .feature-container .title {
      background-color: pink; }
    .main-container .feature-container .content {
      width: 200px;
      background-color: blue; }
  .main-container > * + * {
    margin-left: 100px; }

footer {
  right: 0;
  left: 0;
  bottom: 0;
  height: 200px;
  background-color: orange; }
  footer .copyright {
    position: relative;
    background-color: pink;
    display: inline-block;
    bottom: 0; }
  footer .footer-links {
    background-color: green;
    display: inline-block;
    float: right; }
    footer .footer-links a {
      color: white; }
