* {
  font-family: PT Sans; }

header {
  height: 75px;
  right: 0px;
  left: 0;
  background-color: #2D4255; }
  header .title {
    position: absolute;
    top: 50%;
    left: 39%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    display: inline-block;
    font-size: 40px;
    color: #DCDCD4; }
  header .nav-container {
    position: relative;
    width: 960px;
    margin: 0 auto;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  header .nav-logo > a {
    display: inline-block;
    font-size: 50px;
    color: #DCDCD4; }
    header .nav-logo > a:hover {
      color: #E93C4F; }
  header nav {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }
    header nav a {
      font-size: 20px;
      color: #DCDCD4;
      font-family: Roboto; }
      header nav a:hover {
        color: #E93C4F; }
    header nav > * + * {
      margin-left: 20px; }

main {
  height: 510px;
  position: relative; }
  main > div {
    padding-top: 100px; }

.row {
  margin-top: -75px; }

.hero {
  height: 575px;
  width: 1280px;
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(0, 0, 0, 0.55)), color-stop(10%, rgba(45, 66, 85, 0.35)), color-stop(100%, rgba(45, 66, 85, 0.15))), url('../img/FunnySportNerd.jpg') no-repeat;
  background-size: cover; }
  .hero div {
    position: absolute;
    margin-top: 30px;
    font-size: 30px;
    color: #DCDCD4;
    font-weight: bold; }
  .hero :first-child {
    left: 30px; }
  .hero :last-child {
    right: 30px;
    width: 300px; }

.main-container {
  width: 960px;
  margin: 0px auto;
  padding: 10px 0px;
  min-height: 200px;
  text-align: center; }
  .main-container .feature-container {
    display: inline-block;
    padding: 10px; }
    .main-container .feature-container > * + * {
      margin-top: 10px; }
    .main-container .feature-container .img {
      height: 100px;
      width: 100px;
      font-size: 75px;
      margin-bottom: 10px;
      margin: auto; }
    .main-container .feature-container .content {
      width: 200px; }
  .main-container > * + * {
    margin-left: 100px; }

footer {
  right: 0;
  left: 0;
  bottom: 0;
  height: 100px;
  background-color: #2D4255;
  position: relative;
  color: #DCDCD4; }
  footer .copyright {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 10px; }

section {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 250px;
  background-color: #DCDCD4; }
  section .graph {
    position: absolute;
    margin-left: 25px;
    height: 475px;
    width: 950px;
    top: 50px; }
  section .current-category {
    display: inline-block;
    background-color: yellow;
    font-size: 30px; }
  section .consistency-tracker {
    position: absolute;
    height: 150px;
    background-color: white;
    bottom: 0;
    right: 0;
    left: 0; }

.user-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 20px 0px;
  background-color: #2D4255;
  width: 250px;
  text-align: center;
  color: #DCDCD4; }
  .user-nav img {
    position: relative;
    height: 100px;
    width: 100px;
    background-color: #2D4255;
    margin-bottom: 10px; }
  .user-nav .line {
    background-color: black;
    width: 250px;
    height: 5px;
    margin: 20px 0px; }

.nav-container > div:first-child {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 10px; }
.nav-container div {
  text-align: left; }
.nav-container input {
  margin: 10px; }

.active {
  background-color: yellow; }

.initial-hide {
  visibility: hidden; }

.user-options {
  position: absolute;
  display: inline-block;
  top: 10px;
  right: 10px;
  z-index: 100; }

.handleth {
  display: block; }
