* {
  font-family: PT Sans; }

header {
  background-color: blue;
  height: 75px;
  right: 0px;
  left: 0; }
  header .nav-container {
    position: relative;
    width: 960px;
    background-color: green;
    margin: 0 auto;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  header .nav-logo img {
    height: 50px;
    width: 50px; }
  header nav {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }
    header nav a {
      font-size: 20px;
      font-weight: bold;
      color: white; }
    header nav > * + * {
      margin-left: 20px; }

main {
  height: 510px;
  position: relative; }
  main > div {
    padding-top: 100px; }

.hero {
  height: 575px;
  width: 1280px;
  background-image: url('../img/muscle.jpg');
  background-repeat: no-repeat;
  background-size: cover; }
  .hero div {
    position: absolute;
    margin-top: 30px;
    font-size: 30px;
    background-color: red; }
  .hero :first-child {
    left: 30px; }
  .hero :last-child {
    right: 30px;
    width: 300px; }

.main-container {
  width: 960px;
  margin: 10px auto;
  background-color: lightblue;
  min-height: 200px;
  text-align: center; }
  .main-container .feature-container {
    background-color: yellow;
    display: inline-block;
    padding: 10px; }
    .main-container .feature-container > * + * {
      margin-top: 10px; }
    .main-container .feature-container .img {
      height: 100px;
      width: 100px;
      font-size: 75px;
      background-color: blue;
      margin-bottom: 10px;
      margin: auto; }
    .main-container .feature-container .title {
      background-color: pink; }
    .main-container .feature-container .content {
      width: 200px;
      background-color: blue; }
  .main-container > * + * {
    margin-left: 100px; }

footer {
  right: 0;
  left: 0;
  bottom: 0;
  height: 100px;
  background-color: orange;
  position: relative; }
  footer .copyright {
    background-color: pink;
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 10px; }
  footer .footer-links {
    background-color: green;
    display: inline-block;
    position: absolute;
    bottom: 10px;
    right: 10px; }
    footer .footer-links a {
      color: white;
      display: block; }

section {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 250px;
  background-color: #D3D3D3; }
  section .graph {
    position: absolute;
    height: 500px;
    width: 900px;
    margin-left: 80px;
    top: 100px; }

.user-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 20px 0px;
  background-color: #727272;
  width: 250px;
  text-align: center;
  color: white; }
  .user-nav img {
    position: relative;
    height: 100px;
    width: 100px;
    background-color: #2D4255;
    margin-bottom: 10px; }
  .user-nav .line {
    background-color: #2D4255;
    width: 250px;
    height: 5px;
    margin: 20px 0px; }

.nav-container > div:first-child {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 10px; }
.nav-container div {
  text-align: left; }
.nav-container input {
  margin: 10px; }

.active {
  background-color: yellow; }

.initial-hide {
  visibility: hidden; }
